@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

img {
	display: block;
	width: 100%;
}

.bg {
  background-color: rgb(184, 30, 79);
  padding: 1em;
  min-height: 100vh;
  background-image: url('../img/marked-up.svg');
  background-repeat: no-repeat;
  background-position: center; 
}

.about-bg {
    background-color: rgba(184, 30, 79, .1);
}

.about {
  margin: 0 1.5em;
}

.hello {
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  line-height: 1em;
  margin-bottom: .5em;
  margin-top: 0;
  padding-top: 1em;
}

.about h3 {
  margin-top: 0;
  margin-bottom: 1.5em;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  line-height: 1.3em;
}

.about p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-bottom: 1.5em;
}

.icon {
  width: 30%;
  float: right;
  margin-bottom: 3em;
  padding: 1em;
}

@media only screen and (min-width: 25em) {

  .bg {
    background-attachment: fixed;
  }

  .me {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .icon {
    width: 25%;
  }

}

@media only screen and (min-width: 38em) {

  .bg {
    max-height: 100vh;
  }

   .me {
    width: 40%;
  }
}


@media only screen and (min-width: 60em) {

   .me {
    width: 30%;
  }

  .about p {
    margin-left: 20%;
    margin-right: 20%;
  }

}










